extends layout

block content
  h1=title
  br
  br
  h2 Recent WorkOut Program:
  table.center
    tr#headings
      th(height='40px') Excercise
      th Description
      th Set
      th Reps/time

  unless exercises == null
    tr#Exercises
        each item in exercises
            td(height='50px') #{item.name}
            td #{item.description}
            td #{item.set}
            td #{item.repsOrTime}
  br
  br
  form(action="/create", method="post")
    input(type="text", name="name", placeholder="Exercise Name")
    input(type="text", name="description", placeholder="Exercise Description")
    input(type="number", name="set", placeholder="Exercise Sets")
    input(type="number", name="repsOrTime", placeholder="Exercise Repetitions/Time")
    input(type="submit", class="btn-success", name="Add new Exercise")

