extends layout

block content
  h1=title
  br
  br
  h2 Current Workout Program:
  table.center
    thead
      tr
        th(height='40px') Excercise
        th Description
        th Set
        th Reps/time
    tbody
      -if(exercises_Array !== undefined)
        for exercise in exercises_Array
            tr
              td= exercise.name
              td= exercise.description
              td= exercise.set
              td= exercise.repsOrTime

              td(style="border-style:none") 
                form(action="/removeExercise", method="post")
                  input(type="hidden", name="name", value=exercise.name)
                  input(type="submit", class="btn-danger", value="Remove Exercise")
  br
  br
  form(action="/createExercise", method="post")
    input(type="text", name="name", placeholder="Exercise Name")
    input(type="text", name="description", placeholder="Exercise Description")
    input(type="number", name="set", placeholder="Exercise Sets")
    input(type="number", name="repsOrTime", placeholder="Exercise Repetitions/Time")
    input(type="submit", class="btn-success", value="Add new Exercise")
  br
  br
  h2 All Workout Programs:
  table.center
    thead
      tr
        th(height='40px') Workout Program
      tbody
        -if(workOutPrograms_Array !== undefined)
        for workOutProgram in  workOutPrograms_Array
          tr
            td= workOutProgram.name
            td(style="border-style:none")
              form(action="/selectWorkOut", method="post")
                input(type="hidden", name="selectWorkOutName", value=workOutProgram.name)
                input(type="submit", class="btn-success ", value="Select Program")
            td(style="border-style:none")
              form(action="/removeWorkout", method="post")
                input(type="hidden", name="removeWorkOutName", value=workOutProgram.name)
                input(type="submit", class="btn-danger", value="Remove Workout Program")
  br
  br
  form(action="/createWorkoutProgram", method="post")
    input(type="text", name="createWorkoutName", placeholder="Workout program name")
    input(type="submit", class="btn-success", value="Add new Workout program")

